body {
    margin-top: 8px;
    display: block;
  }
.main{
    margin-top: 20%;
    margin-left: 35%;
    margin-right: 42%;
    cursor: pointer;
   
}
.main:hover{
    transform: rotate(-45deg);
    transform-origin: top left;
}
.note{
    width: 300px;
    background-image: linear-gradient(rgb(119, 119, 255),rgb(46, 46, 195));
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.heading>h4,p{
    display: inline;
}
.heading >p{
    padding-left: 110px;
    color: white;
}
.heading{
    padding-top: 20px;
    padding-bottom:20px ;
}
.button{
   background-image: linear-gradient(to right, lightgreen,green);
   width: 250px;
   height: 30px;
   padding-top: 10px;
   margin-top: 40px;
   margin-left: 25px;
   margin-right: 25px;
   text-align: center;
   font-weight: bold;
   border-radius: 5px;
}
